on init
    mount none /system/etc/fstab.default /vendor/etc/fstab.default bind
    mount none /system/etc/fstab.at.qcom /vendor/etc/fstab.at.qcom bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_volumes.xml /vendor/etc/audio_policy_volumes.xml bind
    mount none /system/etc/default_volume_tables.xml /vendor/etc/default_volume_tables.xml bind

on post-fs-data
    mount none /dev/null /vendor/lib/hw/lights.trinket.so bind
    mount none /dev/null /vendor/lib/hw/android.hardware.light@2.0-impl.so bind
    mount none /dev/null /vendor/lib64/hw/lights.trinket.so bind
    mount none /dev/null /vendor/lib64/hw/android.hardware.light@2.0-impl.so bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind
