import /system/etc/init/init.safailnet.rc

on init
    mount none /system/etc/fstab.default /vendor/etc/fstab.default bind
    mount none /system/etc/fstab.at.qcom /vendor/etc/fstab.at.qcom bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /system/etc/audio_policy_volumes.xml /vendor/etc/audio_policy_volumes.xml bind
    mount none /system/etc/default_volume_tables.xml /vendor/etc/default_volume_tables.xml bind

on post-fs-data
    mount none /vendor/lost+found /vendor/overlay bind

    #Processgroup
    chown system system /acct/uid_*
    chmod 0777 /acct/uid_*

on property:init.svc.face_hal=restarting
    stop face_hal

on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,7
    setprop dalvik.vm.dex2oat-threads 6
